<div class="row vertical-center">
	<button class="btn" onclick={{action 'incrPriority'}}>+</button>
	<span class="ml-05 mr-05 small">Priority</span>
	<button class="btn" onclick={{action 'decrPriority'}}>-</button>
</div>