*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Flex Classes */
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
}
.col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}

/* Vertical Alignment Classes */
.vertical-start{
    align-self: flex-start;
}
.vertical-center{
    align-items: center;
}
.vertical-end{
	align-items: flex-end;
}

/* Horizontal Alignment Classes */
.horizontal-start{
    justify-content: flex-start;
}
.horizontal-center{
    justify-content: center;
}
.horizontal-end{
    justify-content: flex-end;
}
.horizontal-space-between{
    justify-content: space-between;
}

/* Image classes */
.img{
    overflow: hidden;
}
.img-cover{
    object-fit: cover;
}
.img-contain{
    object-fit: contain;
}
.img-fill{
    object-fit: fill;
}
.img img{
    height: 100%;
    width: 100%;
}

/* 
    small devices   : sm : 480 - 300px
    medium devices  : md : 720 - 481px
    large devices   : lg : 960 - 721px
    vlarge devices  : vl : 1360 - 961px
    xlarge devices  : xl : Above 1361px
*/

/* small devices   : sm : 480 - 300px */
@media screen and (min-width: 300px){
    .hide-sm{
        display: none;
    }

    .hide-visibility-sm{
        visibility: hidden;
    }

    .visible-sm{
        display: flex;
    }

    .visible-visibility-sm{
        visibility: visible;
    }

    .sm-1{
        max-width: calc(100% / 12);
        min-width: calc(100% / 12);
    }
    
    .sm-2{
        max-width: calc(100% / 6);
        min-width: calc(100% / 6);
    }
    
    .sm-3{
        max-width: calc(100% / 4);
        min-width: calc(100% / 4);
    }
    
    .sm-4{
        max-width: calc(100% / 3);
        min-width: calc(100% / 3);
    }
    
    .sm-5{
        max-width: calc(100% / (12 / 5));
        min-width: calc(100% / (12 / 5));
    }
    
    .sm-6{
        max-width: calc(100% / 2);
        min-width: calc(100% / 2);
    }
    
    .sm-7{
        max-width: calc(100% / (12 / 7));
        min-width: calc(100% / (12 / 7));
    }
    
    .sm-8{
        max-width: calc(100% / (12 / 8));
        min-width: calc(100% / (12 / 8));
    }
    
    .sm-9{
        max-width: calc(100% / (12 / 9));
        min-width: calc(100% / (12 / 9));
    }
    
    .sm-10{
        max-width: calc(100% / (12 / 10));
        min-width: calc(100% / (12 / 10));
    }
    
    .sm-11{
        max-width: calc(100% / (12 / 11));
        min-width: calc(100% / (12 / 11));
    }
    
    .sm-12{
        max-width: 100%;
        min-width: 100%;
    }

}

/* medium devices  : md : 720 - 481px */
@media screen and (min-width: 481px){
    .hide-md{
        display: none;
    }

    .hide-visibility-md{
        visibility: hidden;
    }

    .visible-md{
        display: flex;
    }

    .visible-visibility-md{
        visibility: visible;
    }

    .md-1{
        max-width: calc(100% / 12);
        min-width: calc(100% / 12);
    }
    
    .md-2{
        max-width: calc(100% / 6);
        min-width: calc(100% / 6);
    }
    
    .md-3{
        max-width: calc(100% / 4);
        min-width: calc(100% / 4);
    }
    
    .md-4{
        max-width: calc(100% / 3);
        min-width: calc(100% / 3);
    }
    
    .md-5{
        max-width: calc(100% / (12 / 5));
        min-width: calc(100% / (12 / 5));
    }
    
    .md-6{
        max-width: calc(100% / 2);
        min-width: calc(100% / 2);
    }
    
    .md-7{
        max-width: calc(100% / (12 / 7));
        min-width: calc(100% / (12 / 7));
    }
    
    .md-8{
        max-width: calc(100% / (12 / 8));
        min-width: calc(100% / (12 / 8));
    }
    
    .md-9{
        max-width: calc(100% / (12 / 9));
        min-width: calc(100% / (12 / 9));
    }
    
    .md-10{
        max-width: calc(100% / (12 / 10));
        min-width: calc(100% / (12 / 10));
    }
    
    .md-11{
        max-width: calc(100% / (12 / 11));
        min-width: calc(100% / (12 / 11));
    }
    
    .md-12{
        max-width: 100%;
        min-width: 100%;
    }
}

/* large devices   : lg : 960 - 721px */
@media screen and (min-width: 721px){
    .hide-lg{
        display: none;
    }

    .hide-visibility-lg{
        visibility: hidden;
    }

    .visible-lg{
        display: flex;
    }

    .visible-visibility-lg{
        visibility: visible;
    }

    .lg-1{
        max-width: calc(100% / 12);
        min-width: calc(100% / 12);
    }
    
    .lg-2{
        max-width: calc(100% / 6);
        min-width: calc(100% / 6);
    }
    
    .lg-3{
        max-width: calc(100% / 4);
        min-width: calc(100% / 4);
    }
    
    .lg-4{
        max-width: calc(100% / 3);
        min-width: calc(100% / 3);
    }
    
    .lg-5{
        max-width: calc(100% / (12 / 5));
        min-width: calc(100% / (12 / 5));
    }
    
    .lg-6{
        max-width: calc(100% / 2);
        min-width: calc(100% / 2);
    }
    
    .lg-7{
        max-width: calc(100% / (12 / 7));
        min-width: calc(100% / (12 / 7));
    }
    
    .lg-8{
        max-width: calc(100% / (12 / 8));
        min-width: calc(100% / (12 / 8));
    }
    
    .lg-9{
        max-width: calc(100% / (12 / 9));
        min-width: calc(100% / (12 / 9));
    }
    
    .lg-10{
        max-width: calc(100% / (12 / 10));
        min-width: calc(100% / (12 / 10));
    }
    
    .lg-11{
        max-width: calc(100% / (12 / 11));
        min-width: calc(100% / (12 / 11));
    }
    
    .lg-12{
        max-width: 100%;
        min-width: 100%;
    }
}

/* vlarge devices  : vl : 1360 - 961px */
@media screen and (min-width: 961px){
    .hide-vl{
        display: none;
    }

    .hide-visibility-vl{
        visibility: hidden;
    }

    .visible-vl{
        display: flex;
    }

    .visible-visibility-vl{
        visibility: visible;
    }

    .vl-1{
        max-width: calc(100% / 12);
        min-width: calc(100% / 12);
    }
    
    .vl-2{
        max-width: calc(100% / 6);
        min-width: calc(100% / 6);
    }
    
    .vl-3{
        max-width: calc(100% / 4);
        min-width: calc(100% / 4);
    }
    
    .vl-4{
        max-width: calc(100% / 3);
        min-width: calc(100% / 3);
    }
    
    .vl-5{
        max-width: calc(100% / (12 / 5));
        min-width: calc(100% / (12 / 5));
    }
    
    .vl-6{
        max-width: calc(100% / 2);
        min-width: calc(100% / 2);
    }
    
    .vl-7{
        max-width: calc(100% / (12 / 7));
        min-width: calc(100% / (12 / 7));
    }
    
    .vl-8{
        max-width: calc(100% / (12 / 8));
        min-width: calc(100% / (12 / 8));
    }
    
    .vl-9{
        max-width: calc(100% / (12 / 9));
        min-width: calc(100% / (12 / 9));
    }
    
    .vl-10{
        max-width: calc(100% / (12 / 10));
        min-width: calc(100% / (12 / 10));
    }
    
    .vl-11{
        max-width: calc(100% / (12 / 11));
        min-width: calc(100% / (12 / 11));
    }
    
    .vl-12{
        max-width: 100%;
        min-width: 100%;
    }
}

/* xlarge devices  : xl : Above 1361px */
@media screen and (min-width: 1361px){
    .hide-xl{
        display: none;
    }

    .hide-visibility-xl{
        visibility: hidden;
    }

    .visible-xl{
        display: flex;
    }

    .visible-visibility-xl{
        visibility: visible;
    }

    .xl-1{
        max-width: calc(100% / 12);
        min-width: calc(100% / 12);
    }
    
    .xl-2{
        max-width: calc(100% / 6);
        min-width: calc(100% / 6);
    }
    
    .xl-3{
        max-width: calc(100% / 4);
        min-width: calc(100% / 4);
    }
    
    .xl-4{
        max-width: calc(100% / 3);
        min-width: calc(100% / 3);
    }
    
    .xl-5{
        max-width: calc(100% / (12 / 5));
        min-width: calc(100% / (12 / 5));
    }
    
    .xl-6{
        max-width: calc(100% / 2);
        min-width: calc(100% / 2);
    }
    
    .xl-7{
        max-width: calc(100% / (12 / 7));
        min-width: calc(100% / (12 / 7));
    }
    
    .xl-8{
        max-width: calc(100% / (12 / 8));
        min-width: calc(100% / (12 / 8));
    }
    
    .xl-9{
        max-width: calc(100% / (12 / 9));
        min-width: calc(100% / (12 / 9));
    }
    
    .xl-10{
        max-width: calc(100% / (12 / 10));
        min-width: calc(100% / (12 / 10));
    }
    
    .xl-11{
        max-width: calc(100% / (12 / 11));
        min-width: calc(100% / (12 / 11));
    }
    
    .xl-12{
        max-width: 100%;
        min-width: 100%;
    }
}

/* Margin Classes */
.m-025{
    margin: 0.25rem;
}
.m-05{
    margin: 0.5rem;
}
.m-075{
    margin: 0.75rem;
}
.m-1{
    margin: 1rem;
}
.m-2{
    margin: 2rem;
}
.m-3{
    margin: 3rem;
}
.ml-0{
    margin-left: 0rem;
}
.mr-0{
    margin-right: 0rem;
}
.mt-0{
    margin-top: 0rem;
}
.mb-0{
    margin-bottom: 0rem;
}
.ml-025{
    margin-left: 0.25;
}
.mr-025{
    margin-right: 0.25;
}
.mt-025{
    margin-top: 0.25;
}
.mb-025{
    margin-bottom: 0.25;
}
.ml-05{
    margin-left: 0.5rem;
}
.mr-05{
    margin-right: 0.5rem;
}
.mt-05{
    margin-top: 0.5rem;
}
.mb-05{
    margin-bottom: 0.5rem;
}
.ml-075{
    margin-left: 0.75rem;
}
.mr-075{
    margin-right: 0.75rem;
}
.mt-075{
    margin-top: 0.75rem;
}
.mb-075{
    margin-bottom: 0.75rem;
}
.ml-1{
    margin-left: 1rem;
}
.mr-1{
    margin-right: 1rem;
}
.mt-1{
    margin-top: 1rem;
}
.mb-1{
    margin-bottom: 1rem;
}
.ml-2{
    margin-left: 2rem;
}
.mr-2{
    margin-right: 2rem;
}
.mt-2{
    margin-top: 2rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.ml-3{
    margin-left: 3rem;
}
.mr-3{
    margin-right: 3rem;
}
.mt-3{
    margin-top: 3rem;
}
.mb-3{
    margin-bottom: 3rem;
}

/* Padding Classes */
.p-025{
    padding: 0.25rem;
}
.p-05{
    padding: 0.5rem;
}
.p-075{
    padding: 0.5rem;
}
.p-1{
    padding: 1rem;
}
.p-2{
    padding: 2rem;
}
.p-3{
    padding: 3rem;
}
.pl-0{
    padding-left: 0rem;
}
.pr-0{
    padding-right: 0rem;
}
.pt-0{
    padding-top: 0rem;
}
.pb-0{
    padding-bottom: 0rem;
}
.pl-025{
    padding-left: 0.25rem;
}
.pr-025{
    padding-right: 0.25rem;
}
.pt-025{
    padding-top: 0.25rem;
}
.pb-025{
    padding-bottom: 0.25rem;
}
.pl-05{
    padding-left: 0.5rem;
}
.pr-05{
    padding-right: 0.5rem;
}
.pt-05{
    padding-top: 0.5rem;
}
.pb-05{
    padding-bottom: 0.5rem;
}
.pl-075{
    padding-left: 0.75rem;
}
.pr-075{
    padding-right: 0.75rem;
}
.pt-075{
    padding-top: 0.75rem;
}
.pb-075{
    padding-bottom: 0.75rem;
}
.pl-1{
    padding-left: 1rem;
}
.pr-1{
    padding-right: 1rem;
}
.pt-1{
    padding-top: 1rem;
}
.pb-1{
    padding-bottom: 1rem;
}
.pl-2{
    padding-left: 2rem;
}
.pr-2{
    padding-right: 2rem;
}
.pt-2{
    padding-top: 2rem;
}
.pb-2{
    padding-bottom: 2rem;
}
.pl-3{
    padding-left: 3rem;
}
.pr-3{
    padding-right: 3rem;
}
.pt-3{
    padding-top: 3rem;
}
.pb-3{
    padding-bottom: 3rem;
}

/* Hyperlink */
a{
    cursor: pointer;
}

/* Small Text */
.small{
    font-size: 14px;
}

/* Muted Text */
.muted{
    color: gray;
}

/* Text Alignment */
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-justify{
    text-align: justify;
}
/* Depends on the language (a left to right language have start=left and a right to left language will have start as right) */
.text-start{
	text-align: start;
}
.text-end{
	text-align: end;
}
.text-inherit{
	text-align: inherit;
}

/* Flex Wrap */
.wrap{
	flex-wrap: wrap;
}
.nowrap{
	flex-wrap: nowrap;
}
.wrap-reverse{
	flex-wrap: wrap-reverse;
}
.wrap-inherit{
	flex-wrap: inherit;
}

.btn {
	background-color: #fff;
	border-color: #ccc;
	border-radius: 2.5px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 0px 2px #eee;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	padding: 7.5px;
}

.btn::-moz-focus-inner {
	border: 0;
}

.btn:focus,
.btn:hover {
	background-color: #f3f3f3;
	outline: 0;
}

.btn-p {
	background-color: #0b72d8;
	border-color: #0b72d8;
	color: #fff;
}

.btn-p:focus,
.btn-p:hover {
	background-color: #085fb6;
}

.input {
	background-color: #f3f3f357;
	border-color: #ccc;
	border-radius: 2.5px;
	border-style: ridge;
	border-width: 1px;
	box-shadow: 0 0px 2px #eee;
	font-size: 14px;
	font-weight: 400;
	padding: 7.5px;
	width: 100%;
}

.card,
.form {
	border-color: #ccc;
	border-width: 1px;
	box-shadow: 0 0px 2px #eee;
	border-style: solid;
	border-radius: 2.5px;
}

.card {
	/* background-color: #f3f3f388; */
	margin-bottom: 1rem;
}

.card:last-child {
	margin-bottom: 0rem;
}

.form-group {
	margin-bottom: 1rem;
}

.form .form-group:last-child{
	margin-bottom: 0rem;
}